
body {
    font-family: sans-serif;
    background-color: lightgrey;
    color: blue;
}

/* Navigation menu styles */
ul {
    margin: 0;
    padding: 0;
    list-style: none;
}

ul li {
    float: left;
    width: 200px;
    height: 40px;
    background-color: blue;
    opacity: .9;
    line-height: 40px;
    text-align: center;
    font-size: 20px;
}

ul li a {
    text-decoration: none;
    color: white;
    display: block;
    transition: all .5s ease;
}

ul li a:hover {
    background-color: black;
    transform: translateY(0);
}

ul li ul li {
    display: none;
}

ul li:hover ul li {
    display: block;
}

/* Content styles */
.content {
    padding: 20px;
}

/* Responsive styles for mobile devices */
/* Responsive styles for mobile devices */
@media (max-width: 768px) {
    ul {
        text-align: center;
    }

    ul li {
        float: none;
        width: 100%;
        display: block;
    }

    ul li a {
        display: block;
        width: 100%;
        padding: 50px;
        background-color: blue;
        color: white;
        text-align: center;
    }

    ul li ul li {
        display: block;
    }

    ul li:hover ul li {
        background-color: transparent;
    }
}

