/* Style for the hamburger menu */
#menu-toggle {
    display: none;
}
#menu-icon {
    display: block;
    font-size: 30px;
    cursor: pointer;
    color: #333;
    margin: 10px;
}
#menu {
    display: none;
    background-color: #333;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 10px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}
#menu ul {
    list-style-type: none;
    padding: 0;
}
#menu ul li {
    margin: 10px;
    position: relative;
}
#menu ul li a {
    text-decoration: none;
    color: #fff;
    font-size: 18px;
    transition: color 0.2s;
}
#menu ul li a:hover {
    color: #66ccff;
}

/* Style for submenus */
.submenu {
    display: none;
    position: absolute;
    top: 0;
    left: 100%;
    background-color: #333;
    border-radius: 5px;
    padding: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    transform: translateX(-100%);
}
#menu ul li:hover .submenu {
    display: block;
    left: 0;
}
#menu ul li .submenu li {
    margin: 5px;
}
#menu ul li .submenu li a {
    color: #fff;
    font-size: 16px;
    text-decoration: none;
}
#menu ul li .submenu li a:hover {
    color: #66ccff;
}

/* Media query to adjust styles for mobile screens */
@media (max-width: 900px) {
    #menu-icon {
        font-size: 900px; /* Adjust sthe hamburger button size */
    }
    #menu {
        padding: 20px; /* Increase menu padding */
    }
    #menu ul li a {
        font-size: 24px; /* Increase font size for menu items */
        margin: 15px; /* Increase margin for menu items */
    }
    .submenu {
        padding: 10px; /* Increase padding for submenus */
    }
    #menu ul li .submenu li a {
        font-size: 20px; /* Increase font size for submenu items */
        margin: 10px; /* Increase margin for submenu items */
    }
}
